@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.form-signin,
.form-signup {
  max-width: 330px;
  padding: 15px;
}

.fc-event {
  cursor: pointer;
}

.sr-only {
  /*bootstrap screen reader class that contains labels*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-signin .form-floating:focus-within,
.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.form-signup input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[type="text"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: -1px;
}

.fc {
  background-color: #f7f7f7;
}
#locationSelect {
  min-width: 20rem;
}
#calendar {
  position: relative;
  z-index: 0;
}

#locations {
  z-index: 100;
  position: relative;
}
.myWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.myHeader {
  flex: 0 0 auto; /* Allows the Header component to grow and shrink as necessary */
}

.myContent {
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 1 0 auto; /* Allows the Content component to take up all the available space */
}

.myFooter {
  flex: 0 0 auto; /* Keeps the Footer component at a fixed height */
  background: linear-gradient(to bottom, white, rgb(201, 202, 202));
  background-size: cover;
  background-repeat: no-repeat;
}
.label-with-select {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.event-card {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
}

.event-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .event-card:hover {
  background-color: #0082ec;
} */
.monthly {
  color: white;
  width: 100%;
  background-color: #0082ec;
  border-radius: 5px;
}

.calendarViews {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calendarOperations {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.calendarOperations button {
  white-space: nowrap;
}

.basicCalendarToolbar {
  display: flex;
  max-width: 20rem;
  margin-bottom: 1rem;
}

.adminCalendarToolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  /* className="mb-3"
        style={{
          display: "flex",
          justifyContent: "start",
          alignItems: "center",
          width: "100%",
        }} */
}

/* .myFooter {
  position: static;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(231, 231, 231),
    rgb(201, 202, 202)
  );
  background-size: cover;
  background-repeat: no-repeat;
} */
